#!/bin/bash
#SBATCH -q np
#SBATCH -n 1
#SBATCH --cpus-per-task=32
#SBATCH --account=<YOURACCOUNT>
#SBATCH --job-name=aqua-analysis
#SBATCH --output=/scratch/<YOURUSER>/log/aqua-%J.out
#SBATCH --error=/scratch/<YOURUSER>/log/aqua-%J.err
#SBATCH --chdir=/ec/res4/scratch/<YOURUSER>/aqua
#SBATCH --qos=express
#SBATCH --time=02:30:00
#SBATCH --mail-type=FAIL

###SBATCH --mem=239G
set -eo

catalog=<catalog> # available are ece4-tuning, epochal, antarctic-mwe
model=<model> # available are EC-EARTH4, ECE-FAST
exp=<experiment>
regrid=<regrid> # we suggest 'r100' for EC-EARTH4 and 'r200' for ECE-FAST. False to deactivate regridding

# This for HPC2020, if you have a conda environment, you should comment this line
# and load the environment in the next line
module load tykky
tykky activate aqua

amip=false

OUTDIR=/ec/res4/scratch/<YOURUSER>/aqua-analysis
mkdir -p $OUTDIR
CONFIG_DIR=<PATH_TO_ECE-CATALOG_REPO>/config # note the change of path from the previous version

if [ "$model" = "EC-EARTH4" ] && [[ "$catalog" = "$antarctic-mwe" ]]; then
    configatm=$CONFIG_DIR/cli_antarctic-mwe/config.aqua-analysis.atm.yaml
    configoce=$CONFIG_DIR/cli_antarctic-mwe/config.aqua-analysis.oce.yaml
    configice=$CONFIG_DIR/cli_antarctic-mwe/config.aqua-analysis.ice.yaml
    export AQUA_CONFIG=$CONFIG_DIR/config_antarctic-mwe
elif [ "$model" = "EC-EARTH4" ]; then
    configatm=$CONFIG_DIR/cli/config.aqua-analysis.atm.yaml
    configoce=$CONFIG_DIR/cli/config.aqua-analysis.oce.yaml
    configice=$CONFIG_DIR/cli/config.aqua-analysis.ice.yaml
elif [ "$model" = "ECE-FAST" ]; then
    configatm=$CONFIG_DIR/cli_ecefast/config.aqua-analysis.atm.yaml
    configoce=$CONFIG_DIR/cli_ecefast/config.aqua-analysis.oce.yaml
    configice=$CONFIG_DIR/cli_ecefast/config.aqua-analysis.ice.yaml
    export AQUA_CONFIG=$CONFIG_DIR/config_ecefast
else
    echo "Unknown model $model"
    exit 1
fi

# We use three different scripts because they all use different sources
aqua analysis -l debug -c $catalog -m $model -e $exp -s monthly-atm -d $OUTDIR -p --config $configatm --regrid $regrid
if [ "$amip" = false ]; then
    aqua analysis -l debug -c $catalog -m $model -e $exp -s monthly-oce -d $OUTDIR -p --config $configoce --regrid $regrid
    aqua analysis -l debug -c $catalog -m $model -e $exp -s monthly-ice -d $OUTDIR -p --config $configice --regrid $regrid
fi

#cd /ec/res4/hpcperm/ccjh/AQUA/cli/aqua-web
#./push_analysis.sh --rsync jost@wilma.to.isac.cnr.it:work/aqua/upload -c  /home/ccjh/hpcperm/AQUA/cli/aqua-web/config.grouping.yaml  $SCRATCH/aqua-analysis atos/EC-EARTH4/$exp
